html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #DEEAF6;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


/* Global */

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 85%;
}

@media only screen and (max-width: 375px) {

  .container {
    max-width: 0 auto;
  }

}


ul {
  margin: 0;
  padding: 0;
}


/* ---------- INDEX.HTML ---------- */


/* Header */

header {
  background: #DEEAF6;
  box-sizing: border-box;
  min-height: 70px;
  padding-top: 30px;
}

header a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-transform: lowercase;
}

header li {
  display: inline;
  font-family: "Montserrat", serif;
  font-weight: 600;
  float: left;
  padding: 0 30px 0 30px;
  transition: 0.5s;

}

header #branding {
  float: left;
  height: auto;
  margin-bottom: 112px;
  max-width: 100%;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
}

header a:hover {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.links li:hover {
  font-weight: 600;
  transform: scale(1.1);
  /* text-shadow: 0 0 .40px #C31432, 0 0 .40px #C31432; -- 1 color bold shadow effect */
}

#menu-bar {
  visibility: hidden;
}

/* -----  MOBILE NAV MENU ------ */




@media only screen and (max-width: 375px) {

  header {
    background: #DEEAF6;
    box-sizing: border-box;
    min-height: 70px;
    padding-top: 30px;
  }

  header .container {
    height: 144px;
  }

  header a {
    visibility: none;
  }


  header li {
    float: none;
    padding: 0 0 0 0px;
    margin-top: none;
    text-align: right;
    margin-right: 0px;
    transition: 0.5s;
  }

  .nav li:hover {
    font-weight: 600;
  }



  ul.links {
    visibility: hidden;
  }

  #menu{
  	width: 35px;
  	height: 30px;
  	margin: 32px 20px 0 20px;
  	cursor: pointer;
    float: right;
    margin-bottom: 32px;
  }
  .bar{
  	height: 5px;
  	width: 100%;
  	background-color: #C31432;
  	display: block;
  	border-radius: 5px;

  }
  #bar1{
  	transform: translateY(-4px);
  }
  #bar3{
  	transform: translateY(4px);
  }
  .nav li a{
  	color: #DEEAF6;
    font-size: 14px;
    font-weight: 400;
  	text-decoration: none;
    margin-right: 8px;
  }

  .nav li a:hover {
     background-image: linear-gradient(to right, #FFF , #FFF);
     font-weight: 600;
  }

  .nav li{
    display: block;
  	list-style: none;
  	padding: 0 0 0 30px;
    margin-top: 24px;
    text-align: right;
    margin-right: 10px;
    padding-top: 5px;
  }

  .nav{
  	padding: 0;
  	margin: 0px;
  	transition: 0.3s ease;
  	display: none;
  }
  .menu-bg, #menu-bar{
  	top: 0;
  	right: 0;
  	position: absolute;
  }
  .menu-bg{
  	z-index: 1;
  	width: 0;
  	height: 0;
  	margin: 30px 20px 0 20px;
  	background: radial-gradient(circle,#C31432, #C31432);
  	border-radius: 50%;
  	transition: 0.3s ease;
  }
  #menu-bar{
    visibility: visible;
  	z-index: 2;
  }
  .change-bg{
  	width: 410px;
  	height: 380px;
  	transform: translate(60%,-30%);
  }
  .change .bar{
  	background-color: white;
  }
  .change #bar1{
  	transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
  	transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
  	opacity: 0;
  }
  .change{
  	display: block;
  }

}


img.Hero {
  float: right;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  width: 85%;
}

img.logo {
  height: auto;
  max-width: 100%;
}
/* Showcase */

#showcase .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
}

@media only screen and (max-width: 375px) {

  section#showcase {
    display: inline-block;
  }

  #showcase .container {
    display: block;
    grid-template-columns: none;
    grid-gap: none;
  }

  img.hero {
    padding-top: 32px;
    width: 250px;
    height: 250px;
    float: left;
  }

}


#showcase h1 {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  font-family: "LibreBaskerville", serif;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
}

@media only screen and (max-width: 375px) {

  #showcase h1 {
    font-size: 34px;
  }
}


#showcase p {
  color: #252627;
  font-family: "Source Sans Pro", serif;
  font-size: 24px;
  font-weight: 400;
  margin-right: 0px;
  width: auto;
}

@media only screen and (max-width: 375px) {

  #showcase p {
    font-size: 22px;
  }

}



/* article_1 */

#article_1 h1 {
  display: inline-block;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 32px;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 80px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 375px) {

  #article_1 h1 {
    font-size: 24px;
    margin: 72px 0px;
  }
}


/* section */



/* article_2 */

#article_2 {
  border-radius: 50px;
  background: linear-gradient(145deg, #c8d3dd, #eefaff);
  box-shadow:  10px 10px 30px #bdc7d1,
              -10px -10px 30px #ffffff;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 128px;
  margin-top: 0px;
  padding: 80px 104px 80px 104px;
  transition: 0.5s;
  width: 72%;
}


img.mockup1 {
  max-width: 100%;
}

img.mockup_copy {
  visibility: hidden;
  display: none;
}


@media only screen and (max-width: 375px) {

  #article_2 {
    box-shadow:  inset 10px 10px 30px #bdc7d1,
              inset -10px -10px 30px #ffffff;
    margin-bottom: 40px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    width: 70%;
  }

    img.mockup_1 {
      visibility: hidden;
      display: none;
    }

    img.mockup_copy {
      visibility: visible;
      display: inline;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 24px;
    }

}

#article_2:hover {
  transform: scale(0.98);
}


#article_2 .container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  margin-top: 15px;
}

@media only screen and (max-width: 375px) {

  #article_2 .container {
    align-items: center;
    display: inline;
    justify-content: center;
    margin-top: 15px;
  }

}

#article_2 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 8px;
  padding-bottom: 0px;
}

#article_2 p {
  color: #252627;
  font-family: "Source Sans Pro", serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.35;
  margin-top: 8px;
  margin-bottom: 40px;
  margin-left: 8px;
}

@media only screen and (max-width: 375px) {

  #article_2 h1 {
    font-size: 24px;
    margin-top: 32px;
    margin-left: 0px;
  }

  #article_2 p {
    font-size: 15px;
    margin-top: 16px;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 32px;
    margin-left: 0px;
  }
}



#article_2:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #eefaff, #c8d3dd);
  box-shadow: inset 10px 10px 30px #bdc7d1,
            inset -10px -10px 30px #ffffff;
}

#article_2 a.btn_1 {
  border-radius: 50px;
  background: #DEEAF6;
  box-shadow:  4px 4px 10px #bdc7d1,
             -4px -4px 10px #ffffff;
  color: #000;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 24px;
  margin-left: 8px;
  padding: 12px 32px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#article_2 a.btn_1:hover {
  color: #fff;
  border-radius: 50px;
  background-image: linear-gradient(to right, #C31432 , #240B36);
  font-weight: bold;
  transform: scale(.98);
}

.btn_1:hover span {
  font-weight: bold;
  transform: scale(2);
}

@media only screen and (max-width: 375px) {

  #article_2 a.btn_1  {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
  }

}


section #main .container {
  background-color: #F1F3F6;
}

/* footer */
footer {
  align-items: center;
  background-color: #232429;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer h1 {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 54px;
  margin-bottom: 21px;
}

@media only screen and (max-width: 375px) {

  footer h1 {
    font-size: 35px;
  }
}



footer p {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 64px;
}

@media only screen and (max-width: 375px) {

  footer p {
    font-size: 16px;
    margin-bottom: 56px;
  }
}

footer p.copy {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 64px;
}

@media only screen and (max-width: 375px) {

  footer p.copy {
    font-size: 12px;
    margin-top: 40px;
  }
}

.icon-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.icon-items {
  list-style: none;
}

.icon-link {
  border-radius: 30%;
  box-shadow:  4px 4px 10px #1e1f23,
             -4px -4px 10px #28292f;
  color: #b6bbc5;
  display: flex;
  font-size: 2.6rem;
  height: 6rem;
  text-decoration: none;
  transition: 0.5s;
  width: 6rem;
}

.icon-link i {
  margin: auto;
}

.icon-link:hover {
  background: -webkit-linear-gradient(#C31432, #240B36);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  box-shadow: inset 4px 4px 10px #1e1f23,
              inset -4px -4px 10px #28292f;
  transform: scale(.96);
}

@media only screen and (max-width: 375px) {

  .icon-link {
    display: flex;
    font-size: 2.0rem;
    height: 5rem;
    text-decoration: none;
    transition: 0.5s;
    width: 5rem;
  }



.icon-link:hover, .icon-link:active {
  background: -webkit-linear-gradient(#C31432, #240B36);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  box-shadow: inset 4px 4px 10px #1e1f23,
              inset -4px -4px 10px #28292f;
  transform: scale(.96);
  }
}



/* ==========================================================================
   Helper classes (optional)
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
