html {
  scroll-behavior: smooth;
}



body {
  background-color: #DEEAF6;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Global */
.container {
  box-sizing: border-box;
  margin:auto;
  overflow: hidden;
  width: 85%;
}

ul {
  margin: 0;
  padding: 0;
}



/* Header */

header {
  background: #DEEAF6;
  box-sizing: border-box;
    min-height: 70px;
  padding-top: 30px;
}

header #branding {
  float: left;
  margin-bottom: 112px;
}

header #branding h1 {
  margin: 0;
}

header a {
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 16px;
}

header a:hover {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header li {
  font-family: "Montserrat", serif;
  font-weight: 600;
  float: left;
  display: inline;
  padding: 0 30px 0 30px;
  transition: 0.5s;
}

header nav {
  float: right;
}

 li.current {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.links li:hover {
  font-weight: 600;
  transform: scale(1.1);
  /* text-shadow: 0 0 .40px #C31432, 0 0 .40px #C31432; -- 1 color bold shadow effect */
}

img.user {
  height: auto;
  max-width: 100%;
}

/* Section */

section {
  background-color: #DEEAF6
}

/* ------------------- ABOUT.HTML ---------------- */

#main_0 .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
}

#main_0 h1 {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  font-family: "LibreBaskerville", serif;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
  width: 100%;
}

#main_0 p {
  color: #252627;
  font-family: "Source Sans Pro", serif;
  font-size: 24px;
  font-weight: 400;
  margin-right: 0px;
  text-align: left;
  width: auto;
}



/* Showcase */


#showcase2 .container {
  background-color: #DEEAF6;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem;
}

#showcase2 h1 {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  font-family: "LibreBaskerville", serif;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
}

#showcase2 p {
  color: #252627;
  font-family: "Source Sans Pro", serif;
  font-size: 24px;
  font-weight: 400;
  margin-right: 0px;
  width: auto;
}

/* main */

#main_1 h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
}

#main_1 h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 48px;
  text-align: center;
  width: 100%;
}

#main_1 p {
  align-items: center;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 21px;
  justify-content: center;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 48px;
  text-align: left;
  width: 85%;
}

#main_1 p.quote {
  display: inline-block;
  font-family: "LibreBaskerville", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 72px;
  text-align: center;
  width: 100%;
}

div#main_1.container {
  justify-content: center;
  text-align: center;
}

/* ---------------- END OF ABOUT.HTML -------------- */


/* --------------       footer    -------------------*/

footer {
  align-items: center;
  background-color: #232429;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer h1 {
  background: -webkit-linear-gradient(#C31432, #240B36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 54px;
  margin-bottom: 21px;
}

footer p {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 64px;
}

footer p.copy {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 64px;
}

.icon-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.icon-items {
  list-style: none;
}

.icon-link {
  color: #b6bbc5;
  border-radius: 30%;
  box-shadow:  4px 4px 10px #1e1f23,
             -4px -4px 10px #28292f;
  display: flex;
  font-size: 2.6rem;
  height: 6rem;
  text-decoration: none;
  transition: 0.5s;
  width: 6rem;
}

.icon-link i {
  margin: auto;
}

.icon-link:hover {
  background: -webkit-linear-gradient(#C31432, #240B36);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  box-shadow: inset 4px 4px 10px #1e1f23,
              inset -4px -4px 10px #28292f;
  transform: scale(.96);
}

/* --------------    END of footer    -------------------*/




/* ------------------ PROJECT.HTML -------------------- */

img.mockup_2 {
  height: auto;
  max-width: 100%;
}


/* project showcase */

#project {
  border-radius: 50px;
  background: linear-gradient(145deg, #c8d3dd, #eefaff);
  box-shadow:  10px 10px 30px #bdc7d1,
              -10px -10px 30px #ffffff;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  margin-top: 0px;
  padding: 80px 104px 80px 104px;
  transition: 0.5s;
  width: 65%;
}

#project:hover {
  transform: scale(0.98);
}


#project .container {
  align-items: center;
  align-content: center;
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  margin-top: 0px;
  text-align: center;
}

#project h1 {
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#project p {
  align-items: center;
  color: #252627;
  display: flex;
  font-family: "Source Sans Pro", serif;
  font-size: 21px;
  font-weight: 400;
  justify-content: center;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 40px;
  text-align: center;
}

#project:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #eefaff, #c8d3dd);
  box-shadow: inset 10px 10px 30px #bdc7d1,
            inset -10px -10px 30px #ffffff;
}

/* BUTTON */

#project a.btn_1 {
  align-items: center;
  border-radius: 50px;
  background: #DEEAF6;
  box-shadow:  4px 4px 10px #bdc7d1,
             -4px -4px 10px #ffffff;
  color: #000;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 18px;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 88px;
  margin-bottom: 8px;
  position: relative;
  padding: 12px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

#project a.btn_1:hover {
  background-image: linear-gradient(to right, #C31432 , #240B36);
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  transform: scale(.98);
}

.btn_1:hover span {
  font-weight: bold;
  transform: scale(2);
}

/* -----------  Main 2 -------------- */

#main2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 80px;
  margin-bottom: 48px;
  text-align: center;
}

#main2 h1 {
  font-family: "Montserrat" sans-serif;
  font-weight: 700;
  font-size: 24px;
}

#main2 h3 {
  font-family: "Montserrat" sans-serif;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 10px;
}

#main2 p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.7;
}

p.Roles {
  margin-top: 0;
  margin-bottom: 32px;
}

/* ---------------- SECTION BACKGROUND COLOR ------------- */

section.center, .left, .center2, .subtext, .conclusion {
  background-color: #F1F3F6;
  width: 100%;
}

section.center3 {
  background-color: #DEEAF6;
}

/* ---------------- The Overview ------------- */

.center h2, h1, p {
  justify-content: center;
  text-align: center;
}

.center h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 21px;
  margin-top: 104px;
  margin-bottom: 8px;
}

.center h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.center p {
  color: #252627;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.8;
  margin-top: 0px;
  margin-bottom: 120px;
}

/* ---------------- The Problem & Solution ------------- */


.left h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 0px;
  margin-left: 114px;
  text-align: left;

}

.left h2 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.7;
  margin: 32px 114px 24px 114px;
  text-align: left;
}

.left p {
  color: #252627;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.7;
  margin: 0px 114px 80px 114px;
  text-align: left;
}

/* ---------------------  BODY -------- */

.center2 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 32px;
}

.center2 h2 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.7;
  margin-top: 32px;
  margin-bottom: 0px;
  text-align: center;
}

.center2 p, .subtext p {
  color: #252627;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.8;
  margin: 8px 114px 32px 114px;
}

/* --------------------- images ------------- */

img.surveys, .stories, .wireframes, .branding {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
}

img.companylogo, .personas, .flow, .sketches, .moodboard, .logoprocess, .test1, .test2,
    .test3, .usertesting2, .mockups {
  align-items: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  max-width: 100%;
}

img.test2, .test3, .usertesting2, .mockups{
  margin-top: 88px;
  max-width: 100%;
}

img.usertesting2, .mockups {
  margin-bottom: 80px;
  max-width: 100%;
}

/* --------------------- END------------- */


.subtext p {
  margin-top: 32px;
  margin-bottom: 0px;
}

/* ------ re-usable code for only h2 & p ------------- */

#use p#result  {
  font-weight: bold;
  margin-top: 56px;
}

#use p#left {
  text-align: left;
}

#use p.bold {
  font-weight: bold;
}

#use h1 {
  margin-top: 120px;
}

#use h2 {
  margin-top: 80px;
  margin-bottom: 0px;
}

#use p {
  margin-top: 8px;
  margin-bottom: 48px;
}

#use2 h2 {
  margin-top: 0px;
  margin-bottom: 32px;
}

#use h2.special {
  margin-top: 120px;
  margin-bottom: 16px;
}

/* ------------------------- END ------------- */

.center3 h2 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.7;
  margin-top: 32px;
  margin-bottom: 0px;
  text-align: center;
}

.center3 p {
  color: #252627;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.8;
  margin: 8px 114px 32px 114px;
}

#use .container {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* BUTTON */

#use a.btn_1 {
  align-items: center;
  color: #000;
  border-radius: 50px;
  background: #DEEAF6;
  box-shadow:  4px 4px 10px #bdc7d1,
             -4px -4px 10px #ffffff;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: normal;
  justify-content: center;
  letter-spacing: 1px;
  position: relative;
  padding: 12px 32px;
  margin-top: 0px;
  margin-bottom: 56px;
  text-decoration: none;
  text-transform: uppercase;
}

#use a.btn_1:hover {
  color: #fff;
  border-radius: 50px;
  background-image: linear-gradient(to right, #C31432 , #240B36);
  font-weight: bold;
  transform: scale(.98);
}

.btn_1:hover span {
  font-weight: bold;
  transform: scale(2);
}

/* --------- CONCLUSION ----------- */


#use2.conclusion h2 {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.conclusion h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 32px;
}

.conclusion h2 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.7;
  margin-top: 32px;
  margin-bottom: 0px;
  text-align: center;
}

.conclusion p {
  color: #252627;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.8;
  margin: 8px 114px 16px 114px;
}

.conclusion p.quote {
  font-family: "LibreBaskerville", "serif";
  font-size: 26px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 40px;
}

/* ==========================================================================
   Helper classes (optional)
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
